$black: #000;
$white: #fff;

$themeBlue: #2196f3;
$themeGreen: #1cd167;
$themeRed: #ed1c24;

$textColor1: #00123a;
$textColor2: #00123a;
$textColor3: #182a52;
$textDull: #868686;

$inputBorder: rgba(24, 42, 82, 0.39);
$circleBack: #394a6e;
